@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Timepiece';
    src: url('/Material/FONTS/TIMEPIECE_PERSONAL/Timepiece-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.welcome_page_body {
    background-color: #6D34E4;
    margin: 0;
}

body {
    margin: 0;
}

.nav_bar {
    background-color: #FF002D;
    padding: 0.5em;
}

.nav_logo_svg {
    min-width: 50%;
    height: auto;
    animation: logoAnim 1s ease 0s 1 normal forwards;
}

@keyframes logoAnim {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

ul {
    list-style-type: none;
}

.nav_linklist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav_linklist_item {
    font-size: clamp(1rem, 2vw, 1.4rem);
    font-family: 'Inter', sans-serif;
    display: block;
    width: auto;
    text-align: center;
    order: 1;
}

.nav_linklist_toggle {
    display: none;
}

.nav_linklist_logo {
    order: 0;
}

a:link {
    color: #E0D4B4;
    text-decoration: none;
}

a:visited {
    color: #E0D4B4;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.button {
    margin-top: 1em;
    color: #FF002D;
    font-size: 1.2em;
    line-height: 1.5;
    padding: .4em 1.8em;
    border-radius: 1.5em;
    background-color: #6D34E4;
    border: thin solid #FF002D;
}

#index_button:hover{
    background-color: #FF002D;
    color:#E0D4B4;
    border: thin solid #E0D4B4;
}

.section_register {
    padding: 10vw;
}

.register_form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.form_field_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.form_field_container>button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
    display: flex;
}

.form_field_container>button>svg {
    width: 3em;
}

.form_description>h1 {
    font-family: 'Timepiece', serif;
    text-align: left;
    font-weight: 300;
    color: #FF002D;
    font-size: 5vw;
    line-height: 95%;
}

.map_additional_information>p,
.map_description_container>p,
.form_description>p {
    font-family: 'Timepiece', serif;
    text-align: left;
    color: #AD9862;
    font-size: 4vw;
    line-height: 95%;
}

.form_elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 2em;
}

.form_elements>#add_form_elements {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

.plusBtnSVG {
    max-width: 100%;
    height: auto;
}

/* checkbox container */
.checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */
.checkmark {
    /* position: absolute;
    top: -1.4em;
    left: 0; */
    display: block;
    height: 2.1em;
    width: 2.1em;
    border: thin solid #FF002D;
    border-radius: 1.5em;
    margin-top: 1em;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked~.checkmark {
    background-color: #FF002D;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 35%;
    top: 39%;
    width: 25%;
    height: 35%;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form_elements>div>input {
    margin-top: 1em;
    color: #FF002D;
    font-size: 1em;
    line-height: 1.5;
    padding: .4em 1.8em;
    border-radius: 1.5em;
    border: thin solid #FF002D;
}

.form_elements>div>label {
    color: #000;
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.clearfix>button {
    margin-top: 1em;
    color: #FF002D;
    font-size: 1.2em;
    line-height: 1.5;
    padding: .4em 1.8em;
    border-radius: 1.5em;
    background-color: #fff;
    border: thin solid #FF002D;
}


.main_page_img {
    max-width: 100%;
    height: auto;
}

.container_section_1 {
    margin: 4% 0 4% 0;
    display: grid;
    grid-template-columns: 1fr 1fr auto auto 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        '. svg1 svg1 svg1 svg1 .'
        '. svg2 svg2 svg2 svg2 svg3'
        'svg4 svg5 svg5 svg5 svg5 .';
    max-width: 100vw;
    overflow: hidden;
}

.container_section_1_div_svg1 {
    grid-area: svg1;
}

.container_section_1_div_svg2 {
    grid-area: svg2;
    margin: 4% 0 4% 0;
}

.container_section_1_div_svg3 {
    grid-area: svg3;
}

#container_section_1_svg3 {
    width: 100%;
}

.container_section_1_div_svg4 {
    grid-area: svg4;
    place-self: end;
    padding-right: 2em;
}

#container_section_1_svg4 {
    width: 10vw;

}

.container_section_1_div_svg5 {
    grid-area: svg5;
}


.container_section_2 {
    background-color: #FF002D;
    color: #fff;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 4fr 4fr 4fr 4fr 1fr 1fr;
    /* grid-template-areas: 
    '. . svg6 svg6 . .'
    '. . svg6 svg6 . .'
    '. . svg6 svg6 . .'
    '. . svg6 svg6 . .'
    '. . svg6 svg6 . .';  */
    max-width: 100vw;
}


.container_section_2_text1 {
    grid-area: 3 / 2;
    justify-self: center;
    align-self: center;
    width: max-content;
    height: max-content;

}

.form_subheadline>h2,
.heading>h1,
.container_section_2_text2,
.container_section_2_text1>p {
    font-size: 3vw;
    text-align: center;
    font-family: 'Timepiece', serif;
    color:#E0D4B4;
    margin: 0;
    line-height: 98%;
}

.form_subheadline>h2{
  text-align: left;
  color: #AD9862;
  font-weight: normal;
}

.container_section_2_div_svg_6_1 {
    grid-area: 4/1/6;
}

.container_section_2_div_svg_6_1>img {
    max-width: 70%;
    animation: rabbitAnim 2.5s ease 0s infinite normal forwards;
}

@keyframes rabbitAnim {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    10% {
        transform: translateX(-30px) rotate(-6deg);
    }

    20% {
        transform: translateX(15px) rotate(6deg);
    }

    30% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    40% {
        transform: translateX(9px) rotate(2.4deg);
    }

    50% {
        transform: translateX(-6px) rotate(-1.2deg);
    }

    60% {
        transform: translateX(0px) rotate(0deg);
    }

    70% {
        transform: translateX(0px) rotate(0deg);
    }

    80% {
        transform: translateX(0px) rotate(0deg);
    }

    90% {
        transform: translateX(0px) rotate(0deg);
    }

    0%,
    100% {
        transform: translateX(-100%);
        transform-origin: 50% 50%;
    }
}

.container_section_2_div_svg_6_2 {
    grid-area: 4/3/6;
    align-self: end;
}

.container_section_2_div_svg_6_2>img {
    max-width: 65%;
    animation: cakeAnim 2s ease 0s infinite normal forwards;
}

@keyframes cakeAnim {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}

.container_section_2_div_svg6 {
    grid-area: svg6;
    place-self: center;
    grid-area: 1 / 2 / 9;
}

.container_section_2_svg6 {
    font-size: 1.007em;
    height: auto;
    width: 62vw;
}

.container_section_2_text2 {
    grid-area: 6 / 2;
    justify-self: center;
    align-self: center;
    width: max-content;
    height: max-content;
}

.text_on_path {
    direction: rtl;
}

/* 
.container_section_2_text2>p {
    font-size: 3vw;
    text-align: center;
    justify-self: end;
    font-family: 'Timepiece', serif;
    font-weight: normal;
    color: #6D34E4;
    margin: 0;

} */

.container_section_2_pathtext {
    font-size: 1.11em;
    fill: #fff;
    font-family: 'Timepiece', serif;
    text-align: center;
}

.container_section_3 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        '. svg7 .'
        '. button1 . '
        'text3 text3 text3';
    max-width: 100vw;
    margin-top: 4%;
}

.container_section_3_svg_7_1 {
    animation: arrowAnim 3s ease 0s infinite normal forwards;
}

@keyframes arrowAnim {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}

.container_section_3_div_svg7 {
    grid-area: svg7;
}

.container_section_3_svg7 {
    max-width: 100%;
    height: auto;
}

.container_section_3_div_button1 {
    grid-area: button1;
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_section_3_div_button1>div>button {
    background-color: #fff;
}

.container_section_3_div_button1>div>img {
    width: 3vw;
    padding-top: 100%;
}

/* ---3.html--- */

.map_additional_information,
.container_section_3_div_text3 {
    grid-area: text3;
    padding: 2%;
    height: max-content;
}

.map_description_container>p,
.container_section_3_div_text3>p {
    font-family: 'Timepiece', serif;
    text-align: center;
    color: #AD9862;
    font-size: 5vw;
    line-height: 95%;
}

.map_interactive {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1vw;
}


#map {
    /* width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0; */
    width: 66vw;
    height: auto;
}

.map_description_container {
    padding: 2%;
    height: max-content;
}

.heading>h1 {
    color: #FF002D;
    font-size: 2.5vw;
}

.listings {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    height: 100%;
    overflow: auto;
    padding-top: 2vw;
    color: #AD9862;
}

.listings .item {
    border-bottom: 1px solid #FF002D;
    padding: 10px;
    text-decoration: none;
}

.listings .item:last-child {
    border-bottom: none;
}

.listings .item .title {
    display: block;
    color: #AD9862;
    font-weight: 400;
}

.listings .item .title small {
    font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
    color: #FF002D;
}

.listings .item.active {
    background-color: #f8f8f8;
}

/* 
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: #AD9862;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #AD9862;
    border-radius: 0;
} */

.mapboxgl-map {
    font-family: 'Inter', sans-serif;
}

.mapboxgl-canvas-container {
    width: 100vw;
    height: 100vh;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
    font-family: 'Inter', sans-serif;
    padding: 0;
    width: 200px;
}

.mapboxgl-popup-content h3 {
    background: #6D34E4;
    color: #fff;
    margin: 0;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
}

.mapboxgl-popup-content h4 {
    margin: 0;
    padding: 10px;
    font-weight: 400;
}

.mapboxgl-popup-content div {
    padding: 10px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
    border-bottom-color: #AD9862;
}

.mapboxgl-links:link {
    color: #6D34E4
}

.mapboxgl-links:visited {
    color: #6D34E4
}

.mapboxgl-links:active {
    color: #6D34E4
}

.mapboxgl-links:hover {
    color: #FF002D
}

/* ---4.html--- */

.images_svg {
    max-width: 40vw;
}

#sprechblase_grinsekatze {
    width: 22vw;
}

.content_container_section1_image1 {
    grid-column: 1 / span 3;
    grid-row: 1/ span 6;
}

.content_container_section1_image2 {
    grid-column: 3 / span 1;
    grid-row: 2/ span 6;
    margin-top: 5vw;
    z-index: 1;
}

.content_container_section1_text {
    grid-column: 5 / span 4;
    grid-row: 3/ span 6;
}

.content_container_section2_image1 {
    grid-column: 6 / span 6;
    grid-row: 3 /span 6;
}

.content_container_section2_image2 {
    grid-column: 6 / span 6;
    grid-row: 1 /span 6;
}

.content_container_section2_text1 {
    grid-column: 2 / span 3;
    grid-row: 1 / span 6;
}

.content_container_section2_text2 {
    grid-column: 5 / span 3;
    grid-row: 4 / span 6;
    z-index: 1;
}

.content_container_section3_images {
    grid-column: 3 / span 4;
    grid-row: 3 / span 6;
    z-index: -2;
}

.content_container_section3_text {
    grid-column: 6 / span 3;
    grid-row: 1 / span 6;
}


#herzkoenigin {
    transform: scaleY(-1) translateY(1.15em);
    width: 30vw;
}

#grinsekatze {
    width: 50vw;
    z-index: -2;
}

.content_container_section1_text>p {
    color: #FF002D;
    text-align: right;
}

.content_container_section1,
.content_container_section2,
.content_container_section3 {
    display: grid;
    position: relative;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(9, 1fr);
    padding: 1em 0em 1em 0em;
}


.content_container_section1,
.content_container_section2,
.content_container_section3 p {
    font-family: 'Timepiece', serif;
    /* text-align: center;
    color: #AD9862; */
    font-size: 5vw;
    line-height: 95%;
}

.content_container_section3_text,
.content_container_section2_text1,
.content_container_section2_text2>p {
    color: #FF002D;
    text-align: left;
}

.seperator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0em 1em 0em;
    z-index: 2;
}

.seperator>img {
    max-width: 10vw;
}

footer {
    padding: 0.5em;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 0 1.5rem;
    grid-template-areas:
        "svg . . . title title"
        "svg . . . subtitle1 subtitle2"
        ". . . . text1 text2";
    max-width: 100vw;
    background-color: #AD9862;
    overflow: hidden;
}

.footer_svg {
    grid-area: svg;
}

.footer_title {
    grid-area: title;
}

.footer_subtitle1 {
    grid-area: subtitle1;
}

.footer_subtitle2 {
    grid-area: subtitle2;
}

.footer_subtitle3 {
    grid-area: subtitle3;
}

.footer_subtitle4 {
    grid-area: subtitle4;
}

.footer_text1 {
    grid-area: text1;
}

.footer_text2 {
    grid-area: text2;
}

.footer_text3 {
    grid-area: text3;
}

.footer_text4 {
    grid-area: text4;
}

footer>div {
    width: max-content;
    height: max-content;
}

footer>div>img {
    width: 85%;
}

footer>* p {
    color: #fff;
    font-size: 1.25vw;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

footer>* h1 {
    color: #fff;
    font-size: 1.5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

footer>* h2 {
    color: #fff;
    font-size: 1.5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

footer>* h3 {
    color: #fff;
    font-size: 1.5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}


#name_joerg,
#name_katharina,
#heart_upper_left,
#heart_lower_right,
#rabbit,
#rings {
    max-width: 100%;
    height: auto;
}

#top_center {
    display: flex;
    justify-content: center;
}

.grid-container-welcome {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    column-gap: 0.5em;
    padding: 2em;
}

#top_left {
    place-self: start;
}

#top_center {
    place-self: center;
    align-self: start;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_elements {
    margin-top: 2em;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;

}

#bottom_center {
    place-self: center;
    align-self: end;
}

#bottom_right {
    place-self: end;
}

@media only screen and (max-width: 1400px) {
    /* ---4.html--- */

    .images_svg {
        max-width: 50vw;
    }

    #sprechblase_grinsekatze {
        width: 32vw;
    }

    .content_container_section1_image1 {
        grid-column: 1 / span 3;
        grid-row: 1/ span 6;
    }

    .content_container_section1_image2 {
        grid-column: 4 / span 1;
        grid-row: 2/ span 6;
        margin-top: 7vw;
        z-index: 1;
    }

    .content_container_section1_text {
        grid-column: 5 / span 4;
        grid-row: 3/ span 6;
    }

    .content_container_section2_image1 {
        grid-column: 6 / span 6;
        grid-row: 4 /span 6;
    }

    .content_container_section2_image2 {
        grid-column: 5 / span 6;
        grid-row: 1 /span 6;
    }

    .content_container_section2_text1 {
        grid-column: 2 / span 3;
        grid-row: 2 / span 6;
    }

    .content_container_section2_text2 {
        grid-column: 4 / span 3;
        grid-row: 5 / span 6;
        z-index: 1;
    }

    .content_container_section3_images {
        grid-column: 1 / span 4;
        grid-row: 3 / span 6;
    }

    .content_container_section3_text {
        grid-column: 6 / span 4;
        grid-row: 1 / span 6;
    }


    #herzkoenigin {
        transform: scaleY(-1) translateY(1.15em);
        width: 35vw;
    }

    #grinsekatze {
        width: 50vw;
        z-index: -2;
    }

    .content_container_section1_text>p {
        color: #FF002D;
        text-align: right;
    }

    .content_container_section1,
    .content_container_section2,
    .content_container_section3 {
        display: grid;
        position: relative;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(9, 1fr);
        padding: 1em 0em 1em 0em;
    }


    .content_container_section1,
    .content_container_section2,
    .content_container_section3 p {
        font-family: 'Timepiece', serif;
        /* text-align: center;
    color: #AD9862; */
        font-size: 5vw;
        line-height: 95%;
    }

    .content_container_section3_text,
    .content_container_section2_text1,
    .content_container_section2_text2>p {
        color: #FF002D;
        text-align: left;
    }

    .seperator {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0em 1em 0em;
        z-index: 2;
    }

    .seperator>img {
        max-width: 15vw;
    }

    
}

/* --- media query for main-page ---*/
@media screen and (max-width: 768px) {

    .nav_linklist {
        margin: 0;
    }

    .nav_linklist>.nav_linklist_item {
        display: none;
    }

    .nav_linklist>.nav_linklist_toggle {
        display: block;
        flex: 1;
        text-align: right;
        font-size: 2em;
    }

    .nav_logo_svg {
        max-width: 18%;
    }

    .icon {
        font-size: 0.8em;
    }

    .form_elements>div>input {
        font-size: 0.6em;
    }

    .form_elements>div>label {
        font-size: 0.7em;
    }

    .clearfix>button {
        font-size: 0.7em;
    }

    .plusBtnSVG > img{
        max-width: 100%;
    }

    .listings {
        font-size: 0.6em;
    }

    .heading>h1{
        font-size: 0.8em;
    }
    
    .register_form>h2{
    text-align: left;
    color: #AD9862;
    }

    .map_interactive {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 6vw;
    }

    #map {
        width: 100vw;
        height: 120vw;
        order: 1;
    }

    .sidebar{
        order: 2;
    }
    .listings .item {
        border-bottom: 1px dotted #FF002D;
    }

    footer {
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-areas:
            "svg . . title title title"
            "svg . . subtitle1 subtitle1 subtitle1"
            "svg . . text1 text1 text1"
            ". . . subtitle2 subtitle2 subtitle2"
            ". . . text2 text2 text2"
            ". . . subtitle3 subtitle3 subtitle3"
            ". . . text3 text3 text3"
            ". . . subtitle4 subtitle4 subtitle4"
            ". . . text4 text4 text4";
    }

    footer>* p {
        font-size: 0.8em;
    }

    footer>* h1 {
        font-size: 0.9em;
    }

    footer>* h2 {
        font-size: 0.9em;
    }

    footer>* h3 {
        font-size: 0.9em;
    }

    footer>* img {
        max-width: 13vw;
    }

    /* footer > div > *{
        align-self: start;
    } */

}



/* --- media query for main-page ---*/
@media screen and (max-width: 768px) {

    .nav_bar.responsive .nav_linklist>li>a {
        display: block;
    }

    .nav_bar.responsive .nav_linklist>.nav_linklist_toggle {
        flex: 1;
        text-align: right;
        order: 1;
    }

    .nav_bar.responsive .nav_linklist {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* gap: 1em; */
        margin: 0;
    }

    .nav_bar.responsive>.nav_linklist>.nav_linklist_item {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 3vw;
        order: 2;
        padding: 1em;
        border-bottom: thin dotted #FFF;
    }

    .nav_bar.responsive>.nav_linklist>#nav_last_item {
        border-bottom-width: 0px;
    }
}

/* --- media-query for welcome-page --- */
@media only screen and (max-width: 768px) {

    #rings {
        max-width: 80%;
        height: auto;
    }

    #rabbit {
        min-width: 18em;
        height: auto;
    }

    .button {
        font-size: 2.8vw;
    }

    #top_center,
    #bottom_center,
    #center {
        max-width: 56vw;
        height: auto;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-3 20:52:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotate-center {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}